@charset "utf-8";

body {
  margin:0;
  padding: 0;
}
section article{
  margin:0;
}

.header__float {
  width: 100%;
  clear: both;
}
.header__float h1 {
  float: left;
  line-height: 102px;
  margin:0;
  padding-left: 2%;
}
.header__float nav {
  float: right;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 2%;
}
#open-time {
  line-height: 60px;
}
#tel-num {
  line-height: 0px;
}

header {
  height: 102.35px;
  background:
  linear-gradient(0deg, 
  rgb(230, 230, 230)0%, 
  #FFFFFF 30%, 
  rgb(240, 240, 240)60%, 
  rgb(230, 230, 230)100%);
  box-shadow: 0 0.3px 0.3px rgba(0, 0, 0, 0.5);
  
  width: 100%;
  display: flex;
  margin:0;
  position: relative;
  z-index: 10;
}

footer{
  height: 51.2px;
  background: blue;
  text-align: center;
  width: 100%;
}
footer p {
  line-height: 48px;
  font-size: 20px;
	margin:0;
}

nav {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
ul {
  list-style: none;
  margin:0;
}


.top-pic {
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 50vw;
  background-color:#c2c2FF;
  margin:0;
  position: relative;
  z-index: 1;
}
.top-bg {
  background-image: url(../contact_form/img/back-image.jpg);
  background-size: cover;
  display: table;
  text-align: center;
  width: 100%;
  height: 50vw;
  margin:0;
  position: relative;
  z-index: 2;
  animation-name: bg-transition; 
  animation-duration: 4s; 
  animation-iteration-count:2;
  animation-fill-mode: forwards; 
  animation-iteration-count:infinite;
}
@keyframes bg-transition {
0% {
  opacity: 0;
}

100% {
  opacity: 1;
} 
}

.circle {
  width: 512px;
  height:512px;
  border-radius: 50%;
  background-color:#23FF23;
  z-index: 3;
  position: absolute;
  top: 5%;
  left: 25%;
  transform: scale(0);
    animation-name:circleToBig;
    animation-duration:4s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
}
@keyframes circleToBig{
  0%{
    opacity: 1;
    transform: scale(0); 
  }
  50% {
    opacity: 1;
    transform: scale(4);    

   }
  100%{
  opacity: 0;
  transform: scale(4);    
  }
}

.welcome {
  position: relative;
  z-index: 10;
  display: table-cell;
  vertical-align: middle;
  justify-content: center;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size:7vw;
  color:#fff;
  opacity:0;
  animation-name: welcomination; 
  animation-duration: 4s; 
  animation-fill-mode: forwards; 
  animation-timing-function: linear;
  animation-iteration-count:infinite;
}
@keyframes welcomination {
0% {
  opacity: 0;
  color:#fff;
  transform: translateY(30px);
}
50% {
  opacity: 1;
  color:#fff;
  transform: translateY(0);
}
90% {
  opacity: 1;
  color:#fff;
  transform: translateY(0);
}
 100% {
  opacity: 0;
  color:#fff;
  transform: translateY(-30px);
} 
}

.menu-bar {
  width: 100%;
  background:red;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin:0;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: relative;
  z-index: 10;
}
.menu-bar h2 {
  font-size: 2em;
  margin:0;
}

.menu-list {
  width: 500px;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
}
.menu-list div {
  width: 50%;
  text-align: center;
}
.pasta-menu {
  width: 100%;
  background:#23FF23;
  margin:0;
  text-align: center;
  position: relative;
  z-index: 10;
}
.pasta-menu h3 {
  font-size: 1.5em;
  margin:0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.pasta-menu img{
  width: 500px;
  height: 300px;
}

.pizza-menu {
  width: 100%;
  background:#FFFF23;
  margin:0;
  text-align: center;
  position: relative;
  z-index: 10;
}
.pizza-menu h3 {
  font-size: 1.5em;
  margin:0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.pizza-menu img{
  width: 500px;
  height: 300px;
}

.access-route{
  background:#c2c2FF;
  margin:0;
  text-align: center;
  z-index: 3;
}
.access-route h2 {
  font-size: 2em;
  margin:0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.access-route p {
  font-size: 1.3em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.access-route img {
  width: 600px;
  height: auto;  
}

#contact-button{
  width: 350px;
  height: 50px;
  border-radius: 10px;border: 0;
  font-size: 26px;
  cursor: pointer;
  background: 
  linear-gradient(to bottom, 
  red, 
  #c00000 30%,
  red);
  color: #FFFFFF;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}