@charset "utf-8";

body {
  margin:0;
  padding: 0;
}
section article{
  margin:0;
}

.header__float {
  width: 100%;
  clear: both;
}
.header__float h1 {
  float: left;
  line-height: 102px;
  margin:0;
  padding-left: 2%;
}
.header__float nav {
  float: right;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 2%;
}
#open-time {
  line-height: 60px;
}
#tel-num {
  line-height: 0px;
}

header {
  height: 102.35px;
  background:
  linear-gradient(0deg, 
  rgb(230, 230, 230)0%, 
  #FFFFFF 30%, 
  rgb(240, 240, 240)60%, 
  rgb(230, 230, 230)100%);
  box-shadow: 0 0.3px 0.3px rgba(0, 0, 0, 0.5);
  
  width: 100%;
  display: flex;
  margin:0;
  position: relative;
  z-index: 10;
}

footer{
  height: 51.2px;
  background: blue;
  text-align: center;
  width: 100%;
}
footer p {
  line-height: 48px;
  font-size: 20px;
	margin:0;
}

nav {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
ul {
  list-style: none;
  margin:0;
}

.top-pic {
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 50vw;
  background-color:#c2c2FF;
  margin:0;
  position: relative;
  z-index: 1;
}
.top-bg {
  background-image: url(../contact_form/img/back-image.jpg);
  background-size: cover;
  display: table;
  text-align: center;
  width: 100%;
  height: 50vw;
  margin:0;
  position: relative;
  z-index: 2;
  animation-name: bg-transition; 
  animation-duration: 4s; 
  animation-iteration-count:2;
  animation-fill-mode: forwards; 
  animation-iteration-count:1;
}
@keyframes bg-transition {
0% {
  opacity: 0;
}

100% {
  opacity: 1;
} 
}

.circle {
  width: 512px;
  height:512px;
  border-radius: 50%;
  background-color:#23FF23;
  z-index: 3;
  position: absolute;
  top: 5%;
  left: 25%;
  transform: scale(0);
    animation-name:circleToBig;
    animation-duration:4s;
    animation-fill-mode:forwards;
    animation-iteration-count:1;
}
@keyframes circleToBig{
  0%{
    opacity: 1;
    transform: scale(0); 
  }
  50% {
    opacity: 1;
    transform: scale(4);    

   }
  100%{
  opacity: 0;
  transform: scale(4);    
  }
}

.welcome {
  position: relative;
  z-index: 10;
  display: table-cell;
  vertical-align: middle;
  justify-content: center;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size:7vw;
  color:#fff;
  opacity:0;
  animation-name: welcomination; 
  animation-duration: 4s; 
  animation-fill-mode: forwards; 
  animation-timing-function: linear;
  animation-iteration-count:1;
}
@keyframes welcomination {
0% {
  opacity: 0;
  color:#fff;
  transform: translateY(30px);
}
50% {
  opacity: 1;
  color:#fff;
  transform: translateY(0);
}
90% {
  opacity: 1;
  color:#fff;
  transform: translateY(0);
}
 100% {
  opacity: 0;
  color:#fff;
  transform: translateY(-30px);
} 
}

.menu-bar {
  width: 100%;
  background:red;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin:0;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: relative;
  z-index: 10;
}
.menu-bar h2 {
  font-size: 2em;
  margin:0;
}

.menu-list {
  width: 500px;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
}
.menu-list div {
  width: 50%;
  text-align: center;
}
.pasta-menu {
  width: 100%;
  background:#23FF23;
  margin:0;
  text-align: center;
  position: relative;
  z-index: 10;
}
.pasta-menu h3 {
  font-size: 1.5em;
  margin:0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.pasta-menu img{
  width: 500px;
  height: 300px;
}

.pizza-menu {
  width: 100%;
  background:#FFFF23;
  margin:0;
  text-align: center;
  position: relative;
  z-index: 10;
}
.pizza-menu h3 {
  font-size: 1.5em;
  margin:0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.pizza-menu img{
  width: 500px;
  height: 300px;
}

.access-route{
  background:#c2c2FF;
  margin:0;
  text-align: center;
  z-index: 3;
}
.access-route h2 {
  font-size: 2em;
  margin:0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.access-route p {
  font-size: 1.3em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.access-route img {
  width: 600px;
  height: auto;  
}

#contact-button{
  width: 350px;
  height: 50px;
  border-radius: 10px;border: 0;
  font-size: 26px;
  cursor: pointer;
  background: 
  linear-gradient(to bottom, 
  red, 
  #c00000 30%,
  red);
  color: #FFFFFF;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

/* お問い合わせフォーム　ここから */
div.contact-background {
  background-color:rgba(255,255,255,0.7);
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 20;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
div.form-title{
  text-align: center;
  justify-content: center;
  border-radius: 10px 10px 0 0 / 10px 10px 0 0;
  margin: 0 auto;
  position: relative;
}
div.form-title h3{
	color:#fff;
	background: -moz-linear-gradient(to bottom,red,#c00000 30%,red);
  	background: -webkit-linear-gradient(to bottom,red,#c00000 30%,red);
  	background: linear-gradient(to bottom,red,#c00000 30%,red);
  	padding:1em 0 1em 0;
  	border-radius: 10px 10px 0 0;
}
@media screen and (min-width:951px) {
  .form-title {
    width: 560px;
  }
}
@media screen and (min-width: 769px) and (max-width: 950px) {
  .form-title {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .form-title {
    width: 90%;
  }
}
table {
  padding: 0;
  margin: 0;
  border-spacing: 0;
}
td {
  padding: 2% 0 2% 0;
}
.form-title h3 {
  margin: 0;
  padding:2% 0 2% 0;
}

.btn-area {
  margin:0 auto;
  text-align: center;
  width: 60%;
  padding: 3% 0 3% 0;
}
@media screen and (min-width:769px) {
  .btn {
    width: 30%;
  }
}
@media screen and (max-width:768px) {
  .btn {
    width: 40%;
  }
}
@media screen and (min-width:951px) {
  .btn {
    font-size: 19px;
  }
}
@media screen and (max-width:950px) {
  .btn {
    font-size: 2vw;
  }
}
#submit-btn {
  margin-right: 10%;
}
#close-btn {
  margin-left: 10%;
}

form {
  background-color: #dbdbdb;
  margin: 0 auto;
  padding: 0;
  border: 0;
}
@media screen and (min-width:951px) {
  form {
    width: 560px;
  }
}
@media screen and (min-width: 769px) and (max-width: 950px) {
  form {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  form {
    width: 90%;
  }
}
input#address.long-column {
  margin-top: 2%;
}
input, textarea {
  border: 0;
  padding: 0;
}
@media screen and (min-width: 951px) {
  input, textarea, label, .item-name  {
    font-size: 19px;
  }
}
@media screen and (max-width: 950px) {
  input, textarea, label, .item-name  {
    font-size: 2vw;
  }
}

.item-name {
  flex: initial;
  text-align: center;
  justify-content: center;
}
@media screen and (min-width: 769px) {
  .item-name  {
    width: 8em;
  }
}
@media screen and (max-width: 768px) {
  .item-name  {
    width: 5em;
  }
}

.name-space {
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 769px) {
  .name-space  {
    width: 8em;
  }
}
@media screen and (max-width: 768px) {
  .name-space  {
    width: 5.7em;
  }
}
.long-column {
  width: 90%;
}
.tel-num {
  width: 4em;
}
#mail1 {
  width: 3em;
}
#mail2 {
  width: 4em;
}
#placement {
  text-align: right;
  padding-right: 4%;
}
textarea {
  vertical-align: top;
  width: 90%;
  height: 6em;
}

/* 受け付け画面表示　ここから */
div.accept{
	display: none;
	text-align: center;
	top: 25vh;
	position: absolute;
}
div.accept h2{
	color: #fff;
	font-size: 57px;
}
#contact-background.accepts{
	background-color: rgba(0,0,0,0.7);
	
}
div.accept button{
	font-size: 33.25px;
	padding:0.1em 0 0.5em 0;
	border-radius: 19px;
	margin: 47.5px;
	
}
